* {
    box-sizing: border-box;
}

body{
    background-image: url("../images/memphis-mini-dark.png");
    color: antiquewhite;
    margin: 0;
    padding: 0;

}

header{
    background-color: aquamarine;
    color: darkslategrey;
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: row;
}

.header-content {
    width: 960px;
    margin: auto;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    float: right;
}

h1{
    float: left;
    background-color: antiquewhite;
    color: darkslategrey;
    height: 70px;
    padding: 0;
    margin: 0;

}

h2{
    padding: 6px;
    margin: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container{
    width: 1024px;
    margin: 15px auto;
    padding: 10px;
    background-color: aquamarine;
    color: darkslategrey;
}

#bio-image {
    float: left;
    padding: 7px;
    margin: 7px;
    
}

footer{
    background-color: darkslategrey;
    height: 40px;
    position: relative;
    bottom: 0px;
    margin: 20px 0px 0px 0px;
    width: 1177px;
    text-align: center;
}